<form action="/sign-in" method="post">
  <div>
    <input type='email' name='email'>
  </div>
  <div>
    <input type='password' name='password'>
  </div>

  <div>
    <input type='password' name='confirm_password'>
  </div>

  <div>
    <input type='submit' id='sign-up'>
  </div>
</form>
