<form action='/links/create' method='post'>


        <label for="title"> title </label>

        <input type='text' name='title' autofocus>

        <label for="url"> URL </label>

        <input type='submit' value='submit'>
</form>
