<form action='/links/create' method='POST'>
  <label for='title'>
    Title:
    <input type='email' name='title' />
  </label>
  <label for='url'>
    URL:
    <input type='text' name='url' />
  </label>
  <label for='tags'>
    Tags:
    <input type='text' name='name' />
  </label>
  <input type='submit' value="Create new link" />
</form>
