<!DOCTYPE html>

<html>
  <head>
    <title> BookmarkManager </title>
  </head>

  <body>

    <% if get_user_id %>
      Welcome <%= get_user_id.email %> !
    <% end %>

    <%= yield %>

  </body>
</html>
