<!DOCTYPE html>

<html>
  <head>
    <title> BookmarkManager </title>
  </head>

  <body>

    <% if get_user_id %>
      Welcome <%= get_user_id.email %> !
    <% end %>
    <% if flash[:notice] %>
      <div id='notice'><%= flash[:notice] %></div>
    <% end %>
    <%= yield %>

  </body>
</html>
